$c_font: #666;
$c_fontHeadline: #333;
$c_prime: #794aa2;
$c_bg: #E8E8EF;
$c_mark: #09c;
$c_dark: #112;
$c_white: #fff;

$grid: 40px;
$fontSize: 18px;
$fontSizeSmall: 15px;
$fontSizeHeadline: $fontSize * 1.5;
$lineHeight: $fontSize * 1.4;

$border-radius-full: 30px;
$border-radius-soft: 2px;
