h1, h2, h3, h4, h5, h6 {
  font-family: 'headline', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: $fontSize;
  line-height: $fontSize * 1.4;
  margin-bottom: $grid;
}
